body{
	font-family:Comic Sans MS;
	color:#ff6600;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe4vNBG2rNmx6B0Rq7FjKsyUALWs5WiEaYbA&s");
	background-size:cover;
}
div{
	size:20px;
}
a{
	color:yellow;
	text-decoration:none;
}
img{
	border:3px solid red;
}














































